doctype html
html
    head
        title #{title}

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#b13e8b')
        meta(name='msapplication-navbutton-color' content='#b13e8b')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

        meta(name='wot-verification' content='2fb1a965aa95c31d9975')
        
        meta(name='description' content='The current weather at any location in a minimal format!')
        meta(property='og:title' content=title)
        meta(property='og:description' content='The current weather at any location in a minimal format!')
        meta(property='og:image' content='https://#/img/preview.png')
        meta(property='og:url' content='https://thewthr.app')
        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:creator' content='@leonheess')
        meta(name='twitter:image' content='https://#/img/preview.png')
        meta(name='keywords' content='current, weather, location, minimal')

        link(href='./styles.css' rel='stylesheet')
        link(href='./img/favicon.ico' rel='icon')

        script(defer, src='https://heess.me/external/js/ie.js')
        script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')

        script(defer, src='./client.js')

    body
        h1 The current weather at any location in a minimal format!
        #background
            #soon
        #wrapper
            #container
                #inputs
                    input#search(name='location', placeholder='Enter City...')
                    button#switch(title='Switch Unit!') °C
                    button#locate(title='Locate Me!')
                        img(src='./img/coordinates.png')
                    button#submit(title='Search!')
                        img(src='./img/search.png')
                #temp.default

        footer
            | &copy; Copyright #{new Date().getFullYear().toString()} by&nbsp;
            a(href='https://twitter.com/leonheess', target='_blank', rel='noopener') Leon Heess
            |  |&nbsp;
            a(href='https://heess.me/impressum.html', target='_blank', rel='noopener') Impressum/Datenschutz
            |  |&nbsp;
            a(href='https://github.com/MiXT4PE/wthr', target='_blank', rel='noopener') Fork on GitHub
            |  | Powered by&nbsp;
            a(href='https://darksky.net/poweredby', target='_blank', rel='noopener') Dark Sky
            |  and&nbsp;
            a(href='https://www.mapbox.com/search/', target='_blank', rel='noopener') Mapbox

