@charset "utf-8"; * {
    box-sizing: border-box;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    margin: 0;
    padding: 0;
    color: #fff;
}

html {
    min-width: 300px;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

*:focus {
    outline: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    opacity: 0;
    position: absolute;
}

#wrapper {
    display: grid;
    place-items: center;
    width: 70%;
    max-width: 1200px;
    min-height: 97.5vh;
    margin: auto;
}

#inputs {
    height: 45px;
    width: 500px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .3s;
    border: 1px solid #fff;
    overflow: hidden;
}

#inputs:hover, #inputs:focus-within {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
}

#inputs button, #inputs #search {
    all: unset;
    height: 100%;
    vertical-align: top;
}

#inputs button {
    cursor: pointer;
    text-align: center;
}

#inputs button#switch:hover {
    font-size: 27px;
}

#inputs button:hover > * {
    transform: scale(1.2);
}

#inputs button img {
    display: block;
    margin: auto;
}

#inputs button#submit {
    overflow: hidden;
    box-shadow: 10px 10px 0 0 #fff;
    width: 12%;
}

#inputs button#submit img {
    height: 70%;
    box-shadow: 0 0 0 100px #fff;
}

#inputs button#locate {
    width: 10%;
}

#inputs button#locate img {
    height: 50%;
}

#inputs button#switch {
    width: 5%;
    font-size: 22px;
}

#inputs #search {
    margin: 0 0 0 15px;
    width: calc(73% - 15px);
    font-size: 25px;
}

::placeholder {
    color: #fff;
    opacity: .7;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill!important;
    -webkit-animation-fill-mode: both!important;
}

#temp {
    position: absolute;
    font-size: 20px;
    margin: -45px 0 0 15px;
    z-index: -1;
    opacity: 0;
    transition: .5s ease-out;
}

#temp.appeared {
    margin-top: .5%;
    opacity: 1;
}

/* background styling */
#background {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background.default, #background.day {
    background: linear-gradient(120deg, #fff097, #5eb0d1 55%);
}

#background.clear {
    background: linear-gradient(#ffbd3f, #fff097);
}

#background.snow {
    background: linear-gradient(#29386f, #b8f5ff);
}

#background.night {
    background: linear-gradient(#0F2129, #47334A);
}

#background.storm {
    background: linear-gradient(#000, #0F2129);
}

#background > #soon {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top: 125px;
    left: 150px;
    transition: .7s;
}

#background.day > #soon {
    background-color: #feffdf;
    box-shadow: 0 0 5px 35px rgba(254, 255, 223, 0.2), 0 0 10px 70px rgba(254, 255, 223, 0.2), 0 0 20px 105px rgba(254, 255, 223, 0.2);
}

#background.night > #soon {
    background-color: #fefaf4;
    box-shadow: 0 0 50px 0 #fefaf4;
}

#background.night > #soon:before, #background.night > #soon:after {
    content: "";
    position: absolute;
    background-color: #dcd8d3;
    border-radius: 50%;
    opacity: .5;
    transition: 3s;
}

#background.night > #soon:before {
    height: 15px;
    width: 15px;
    bottom: 25px;
    right: 40px;
}

#background.night > #soon:after {
    height: 30px;
    width: 30px;
    bottom: 50px;
    right: 15px;
}

#background.cloudy > .cloud, #background.rain > .cloud, #background.snow > .cloud {
    opacity: .5;
}

#background.partly-cloudy > .cloud:nth-child(even) {
    opacity: .5;
}

.cloud {
    width: 900px;
    height: 900px;
    position: absolute;
    background-color: #fff;
    opacity: 0;
    transition: opacity .5s;
    border-radius: 50%;
    animation: cloud 10s infinite alternate;
}

.cloud:nth-child(even) {
    animation-delay: 3s;
}

#background.night > .cloud {
    background-color: grey;
}

#background.rain > .cloud:before, #background.rain > .cloud:after {
    animation: rain 1s infinite linear;
    content: '';
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 3px;
    opacity: 1;
    margin-top: 700px;
}

#background.rain > .cloud:after {
    transform: translate(50px);
}

#background.rain > .cloud:nth-child(even):before, #background.rain > .cloud:nth-child(even):after {
    animation-delay: .3s;
}

@keyframes cloud {
    100% {
        transform: translate(-50px) scale(1.05);
    }
}

@keyframes rain {
    0% {
        box-shadow: #cccccc 30px 30px, #cccccc 40px 40px, #cccccc 50px 75px, #cccccc 55px 50px, #cccccc 70px 100px, #cccccc 80px 95px, #cccccc 110px 45px, #cccccc 75px 50px, #cccccc 80px 20px, #cccccc 65px 40px, #cccccc 100px 80px, #cccccc 45px 85px, #cccccc 95px 50px, #cccccc 90px 35px;
    }

    100% {
        box-shadow: #cccccc 30px 970px, #cccccc 40px 980px, #cccccc 50px 945px, #cccccc 55px 980px, #cccccc 70px 960px, #cccccc 80px 945px, #cccccc 110px 995px, #cccccc 75px 950px, #cccccc 80px 920px, #cccccc 65px 940px, #cccccc 100px 980px, #cccccc 45px 985px, #cccccc 95px 950px, #cccccc 90px 985px;
    }
}

footer {
    text-align: center;
    height: 2.5vh;
    font-size: 12px;
}
